@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


/* @font-face {
  font-family: 'Ghino';
  src: url('Ghino-Black.woff2') format('woff2'),
      url('Ghino-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ghino';
  src: url('Ghino-Light.woff2') format('woff2'),
      url('Ghino-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ghino';
  src: url('Ghino-Extralight.woff2') format('woff2'),
      url('Ghino-Extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ghino';
  src: url('Ghino-Bold.woff2') format('woff2'),
      url('Ghino-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */


@font-face {
  font-family: 'Mont';
  src: url('../fonts/Mont.otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --principal: #10af00;
  --white: #fff;
  --hover:#086400;
  --clara:#b6e7b2;
}



html{
    scroll-behavior: smooth;
  }

  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
      font-family: 'Poppins', sans-serif;
  }
  
  
  .navbar {
    background: var(--principal);
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-bottom: 0px;
    
  }

   
  .navbar2 {
    background:none;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 999;
    margin-bottom: 0px;
    
  }

body {
  background: var(--white);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  
}

a{
  text-decoration: none !important;
}

a:hover{
  text-decoration: none !important;
}

a:active{
  text-decoration: none !important;
  color: var(--principal) !important;
}

.container{
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 600px) {
	.container{
    padding-left: 25px;
    padding-right: 25px;
	  }
  }

#preloader {
  overflow: hidden;
  background: var(--principal);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999999;
  color: var(--white);
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: var(--white);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

  
.whatsapp.ajd {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
  z-index: 999;
}

.whatsapp.ajd img {
  position: relative;
  z-index: 999;
  width: 60px;
  height: 60px;
}

.whatsapp.smb {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 26px -9px rgba(0,0,0,0.65);
  border-radius: 50%;
}


#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bg-home{
  background-image:url('../images/bg-desk.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-position: center;
  width:100%;

}

.bg{
  background-image:url('../images/main-desk.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-position: center;
  width:100%;
  height:440px;
}

@media only screen and (max-width: 990px) {
  .bg-home{
    background-image:url('../images/bg-mobile.png');
  }

  .bg{
    background-image:url('../images/main-desk.png');
    height: 550px;
  }
}

.padding-main{
  padding-top: 95px;
}

.main-section{
  height: 79vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.features {
  text-align: center;
  background-color: #f7f7f7;
  padding: 18px 10px 25px 10px;
  margin: 35px 0px;
  border-radius: 7px;
  min-width: 250px;
  border: 2px solid #dbdbdb;
}

.features:hover{
  transition: 0.5s;
  transform: scale(1.1);
}

.features .header {
  display: inline-block;
  width: 150px;
  line-height: 60px;
}
.features span{
  font-weight: 900;
  color: #7a7a7a;
}

.img-features{
  width: 120px;
}

.features p {
  font-size: 13px;
  color: #898798;
  margin-bottom: 0px;
}

.row-main{
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.row-adjust{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section-main{
  padding-top: 100px;
}

.main-title{
  font-weight: 700;
  color: #353535;
  letter-spacing: -1px;
  font-size: 41px;
  text-align: center;
  margin: 0px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;

}

.more-title{
  font-weight: 700;
  color: #353535;
  letter-spacing: -1.5px;
  font-size: 35px;
  text-align: center;
  margin: 0px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}

.op-title{
  font-weight: 700;
  color: #353535;
  letter-spacing: -1px;
  font-size: 41px;
  text-align: center;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}

.i-main{
  margin-right: 25px;
  color: var(--principal);
  font-size: 55px;
}

.i-more{
  margin-right: 15px;
  color: var(--principal);
  font-size: 43px;
}

.main-p{
  font-size: 12px;
  padding-bottom: 20px;
  color: #727272;
}

.title-valor{
  font-size: 16px;
  text-align: center;
  font-weight: 100;
  margin-bottom: 0;
}





@media only screen and (max-width: 999px) {
	.main-title{
		margin: 0px;
    padding-top:  0px;
    font-size: 34px;
	  }
   .more-title{
		margin: 0px;
    padding-top:  0px;
    font-size: 30px;
	  }
    .title-valor{
      font-size: 15px;
    }
    .section-main{
      padding-top: 40px;
    }
    .valor{
      font-size: 48px;
    }
    
  }

.div-links{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--principal);
  display: inline-block;
}

.link{
  display:flex;
}

.i-links{
  margin-right: 7px;
  font-size: 16px;
}

.a-links{
  color: var(--principal);
  font-style: italic;
  font-weight: 100;
  text-decoration: underline !important;
  margin-right: 6px;
}

.tel-link{
  color: var(--principal);
  border-radius: 3px;
  font-weight: 100;
  text-decoration: underline !important;
  font-size: 18px;
}

.tel-link:hover{
  color: var(--hover);
  text-decoration: underline !important;
  transition: .5s;
}

.a-links:hover{
  transition: 0.5s;
  color: var(--hover);
}

.h5-features{
  margin: 9px;
  letter-spacing: -1px;
  font-size: 34px;
  font-weight: 900;
  color: #404040;
  margin-bottom: 15px;
}

.main-a{
  background-color: var(--principal);
  color: var(--white);
  padding: 4px 20px;
  margin: 0px 10px;
  font-weight: 900;
  font-size: 13px;
  border-radius: 6px;
  text-decoration: none;
}

.main-a:hover{
  background-color: #b35c0b;
  color: var(--white);
  text-decoration: none;
  transition: 0.4s;
}

.btn-main-1{
  background-color: var(--principal);
  font-size: 23px;
  color: var(--white);
  border: 2px solid var(--principal);
  padding: 4px 45px;
  border-radius: 8px;
  font-weight: 700;
  text-decoration: none;
  margin: 10px;
}

.btn-main-1:hover{
  background-color: var(--white);
  color: var(--principal);
  border: 2px solid var(--principal);
  text-decoration: none;
  transition: 0.5s;
}

.btn-main-2{
  background-color: var(--white);
  font-size: 18px;
  color: var(--principal);
  border: 2px solid var(--principal);
  padding: 7px 25px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  margin: 10px;
}

.btn-main-2:hover{
  background-color: var(--principal);
  color: var(--white);
  border: 2px solid var(--principal);
  transition: 0.5s;
  text-decoration: none;
}

.btn-main-3{
  background-color: rgb(173, 32, 32);
  font-size: 23px;
  color: var(--white);
  border: 2px solid rgb(173, 32, 32)0;
  padding: 4px 45px;
  border-radius: 8px;
  font-weight: 700;
  text-decoration: none;
  margin: 10px;
}

.btn-main-3:hover{
  background-color: var(--white);
  color: rgb(173, 32, 32);
  border: 2px solid rgb(173, 32, 32);
  text-decoration: none;
  transition: 0.5s;
}

.more-btn-1{
  background-color: var(--principal);
  font-size: 23px;
  color:var(--white);
  border: 2px solid var(--principal);
  padding: 12px 37px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  margin: 10px;
}

.more-btn-1:hover{
  background-color: var(--white);
  color: var(--principal);
  border: 2px solid var(--principal);
  text-decoration: none;
  transition: 0.5s;
}


.more-btn-2{
  background-color: var(--white);
  font-size: 23px;
  color: var(--principal);
  border: 2px solid var(--principal);
  padding: 12px 37px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  margin: 10px;
}

.more-btn-2:hover{
  background-color: var(--principal);
  color: var(--white);
  border: 2px solid var(--principal);
  transition: 0.5s;
  text-decoration: none;
}

.btns-main{
  display: inline-flex;
}

.a-tel{
  font-size: 16px;
  background-color: var(--principal);
  color: var(--white);
  font-weight: 800;
  padding: 5px 15px;
  border-radius: 5px;
  
}

@media only screen and (max-width: 607px) {
	.btns-main{
		display: inline-grid;
	  }
    .more-title{
      display: grid;
    }
    .main-title{
      display: grid;
      font-size: 30px;
    }
    .div-links{
      display: grid;
    }
    .p-nome{
      margin: 0px 18px 35px 18px;
      font-size: 15px;
    }
    .a-links{
      font-size: 12px;
    }
    .i-main{
      margin-right: 0px;
      padding-bottom: 15px;
    }  
    .i-more{
      margin-right: 0px;
      padding-bottom: 5px;
}
  }

.border-icon {
    text-shadow: 0 0 3px rgb(90, 74, 74);
}

  
input {
  font: inherit;
  outline: 0;
}

input::placeholder {
  color:rgb(228, 228, 228)
}

.form__field {
  position: relative;
}

.form__field .icon {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%)
}

.form__input {
  border-radius: 11px;
  border-style: solid;
  border-width: 4px;
  font-size: 2.2rem;
  padding: 0.5em 1em 0.5em 1em;
  margin: 18px 0px 22px 0px;
  width: 100%;
  height: 100px;
  max-width: 715px;
  text-align: center;
  color: var(--principal);
  font-size: 55px;
  font-weight: 900;
}

@media only screen and (max-width: 500px) {
	.form__input {
      padding: 0.35em 0.5em 0.5em 0.5em;
      margin: 18px 0px 22px 0px;
      height: 72px;
      max-width: 326px;
      font-size: 31px;
  }

  }


.form__input:valid {
  transition: 0.5s;
  border-color:#272727;
}

.form__input:invalid {
  border-color: var(--principal);
}

.main-i{
  color: #fff;
  font-size: 35px;
  margin-right: 15px;
  border-radius: 50px;
}

.more-i{
  font-size: 25px;
  margin-right: 5px;
}


.section-valor{
  background-color: rgb(247, 247, 247);
  padding: 18px 0px;
  border: 2px solid #dbdbdb;
}

.title-main{
  font-size: 32px;
  font-weight: 100;
  color: #323232;
}

.p-nome{
  max-width: 730px;
  margin-bottom: 35px;
  color: #a3a3a3;
  letter-spacing: -0.5px;
  font-size: 18px;
  font-weight: 300;
}


@keyframes go-back {
  from {
    transform: scale(1.1);
  }
  to {
    transform: translateX(0);
  }
}

.h1-valor{
  font-weight: 900;
  font-size: 62px;
  max-width: 440px;
  border: 3px solid #fff;
  border-radius: 70px;
  background-color: #1f6dff;
  color: var(--principal);
  padding: 2px 35px;
  font-family: 'Mont';
  animation: go-back 1.5s infinite alternate;
}

.btn-contratação{
  background-color: var(--principal);
  color: var(--white);
  margin-top: 10px;
  padding: 4px 45px 4px 45px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 800;
  text-decoration: none !important;
}

.btn-contratação:hover{
  transition: 0.5s;
  color: var(--white);
  background-color: var(--hover);
  text-decoration: none !important;
}

.page-section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #898798;
  overflow: hidden;
}

.title-section {
  color: #645F88;
}

.card-service .header {
  margin-bottom: 24px;
}

.card-service {
  display: block;
  margin: 16px auto;
  padding: 32px 20px;
  max-width: 300px;
  text-align: center;
  color: #898798;
  border-radius: 8px;
  box-shadow: 0 3px 12px rgba(95, 92, 120, 0.12);
  cursor: pointer;
  background-color: var(--white);
}

.section-checkbox{
  padding-bottom: 80px;
  padding-top: 40px;
}



.card-service:focus {
  background-color: red;
}

.section-checkbox{
  padding-bottom: 80px;
  padding-top: 40px;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:not(:disabled) ~ label {
  cursor: pointer;
}
input[type=checkbox]:disabled ~ label {
  color: #bcc2bf;
  border-color: #bcc2bf;
  box-shadow: none;
  cursor: not-allowed;
}

label {
  min-height: 300px;
  min-width: 330px;
  display: block;
  background: white;
  border: 3px solid #bcc2bf;
  color: #bcc2bf;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
  
}


label a{
  background-color: var(--clara);
  color: var(--white);
  border: 0;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 25px;
  font-size: 15px;
}


input[type=checkbox]:checked + label a{
  transition: 0.6s;
  transform: scale(1.05);
  background: var(--white);
  color: var(--principal);
  border: 0;
}

input[type=checkbox]:checked + label a:hover{
  background-color: var(--hover);
  color: var(--white);
  transition: 0.5s;

}

input[type=checkbox]:not(:checked) + label::after {
  color: rgb(167, 30, 30);
  font-family: FontAwesome;
  content: "\f057";
  font-size: 55px;
  position: absolute;
  top: -20px;
  left: 97%;
  transform: translateX(-50%);
  height: 65px;
  width: 65px;
  line-height: 65px;
  text-align: center;
  border-radius: 50%;
  background: white;
}


input[type=checkbox]:checked + label {
  transition: 0.6s;
  transform: scale(1.05);
  background: var(--principal);
  color: white;
  border: 4px solid #7cec7c;
}

input[type=checkbox]:checked + label::after {
  color: var(--principal);
  font-family: FontAwesome;
  content: "\f058";
  font-size: 55px;
  position: absolute;
  top: -20px;
  left: 97%;
  transform: translateX(-50%);
  height: 65px;
  width: 65px;
  line-height: 65px;
  text-align: center;
  border-radius: 50%;
  background: white;
}

label h2{
  font-size: 24px;
  padding-top: 15px;
  font-weight: 700;
}

label h1 {
  font-weight: 800;
  padding-bottom: 10px;
  font-size: 45px;
  letter-spacing: -3px;
}

label p {
  font-weight: 300;
  margin: 0 !important;
}

label span{
  font-weight: 700;
}


label a:hover{
  background-color: var(--hover);
  color: var(--white);
  transition: 0.5s;
}

.div-animation{
  display: inline-flex;
  justify-content: center;
  width: 650px;
}

.animation-i{
  animation: go-back 1.5s infinite alternate;
}
.h4-bancos{
  font-size: 19px;
  color: var(--white);
  background-color: var(--principal);
  font-weight: 800;
  padding: 7px 30px;
  border-radius: 50px;
  max-width: 300px;
  margin-bottom: 20px;
  display: inline-flex;
}

@media only screen and (max-width: 1200px) {
  label {
   min-width: 280px;
  }
}

@media only screen and (max-width: 990px) {
  label {
   min-width: 300px;
   margin-bottom: 30px !important;
  }
}
@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
  .link{
    display: block;
  }
  .div-animation{
    width: 435px;
  }
}

@media only screen and (max-width: 600px) {
  .h1-valor{
    font-size: 55px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 450px) {
  .bg{
    height: 450px;
  }
  .h1-valor{
    font-size: 45px;
  }
  .p-nome{
    font-size: 15px;
    margin: 0px 0px 25px 0px;
  }
  label{
    min-width: 260px;
  }
  label h1{
    font-size: 40px;
  }
  .tel-link{
    font-size: 15px;
  }
  .div-animation{
    width: 320px;
  }
  .i-main{
    font-size: 48px;
  }
}


@media only screen and (max-width: 390px) {
  .more-btn-1{
    font-size: 17px;
  }
  .more-btn-2{
    font-size: 17px;
  }
  .p-nome{
    font-size: 15px;
  }
}


@media only screen and (max-width: 380px) {
	.form__input {
    max-width: 320px;
    padding: 0.2em 0.9em 0.2em 0.9em;
    font-size: 28px;
  }
  .h1-valor{
    font-size: 40px;
  }
  }






